@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');



/* Ajout de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden; /* Empêche tout scrolling global */
  height: 100%;
  width: 100%;
}

.scroll-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll-section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.custom-font {
  font-family: 'Playfair Display', serif;
}

/* Améliorer l'apparence du calendrier */
.custom-datepicker {
  z-index: 1000 !important;
}

.react-datepicker {
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.react-datepicker__header {
  background-color: #1E3A8A; /* Bleu foncé */
  color: white;
  border-radius: 12px 12px 0 0;
}

.react-datepicker__day--selected {
  background-color: #FBBF24 !important; /* Jaune accent */
  color: black !important;
  border-radius: 8px;
}

.react-datepicker__day--today {
  font-weight: bold;
  color: #1E3A8A;
}

.react-datepicker__time-container {
  border-radius: 12px;
}

.react-datepicker__time-box {
  background: #f8f9fa;
  border-radius: 12px;
  padding: 10px;
}

.react-datepicker__time-list-item {
  padding: 8px;
  border-radius: 8px;
}

.react-datepicker__time-list-item--selected {
  background: #9333EA !important; /* Violet */
  color: white !important;
}
