@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');



/* Ajout de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden; /* Empêche tout scrolling global */
  height: 100%;
  width: 100%;
}

.scroll-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll-section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.custom-font {
  font-family: 'Playfair Display', serif;
}
